<ion-view view-title="home">
  <ion-nav-buttons side="right">
    <button class="button button-icon ion-plus-round" ng-click="Entities.addEntity()" ng-if="true">
    </button>
  </ion-nav-buttons>
  <ion-content padding="true" on-swipe-down="swipeDown()">
    <ion-list>
      <ion-item ng-repeat="entity in Entities.list track by $index" class="item-avatar" ng-click="Entities.getEntityDetail({{entity}})" style="border-style: none;">

        <img class="text-center" ng-src="{{entity.pictureBook}}">
        <p>{{entity.name}} {{entity.surname}} - {{entity.age}}</p>
        <p>{{entity.gender}} - {{entity.nationality}}</p>
        <p>{{entity.description}}</p>

        <ion-option-button class="button-assertive icon ion-trash-b" on-tap="Entities.deleteEntity({{entity}})" ng-show="Entities.userLoggedIn.name"></ion-option-button>
        <ion-option-button class="button-energized icon ion-ios-compose" on-tap="Entities.modifyEntity({{entity}})" ng-show="true"></ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
