<ion-modal-view class="transparent">
  <ion-content ng-click="Entity.closeModal()">
    <ion-slide-box on-slide-changed="Entity.slideChanged(index)" show-pager="false">
      <ion-slide ng-repeat="image in Entity.images" style="display:flex;justify-content:center;">
        <img class="image-modal" ng-src="{{image.pictureBook}}" />
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-modal-view>