<ion-modal-view ng-controller="EntityAddUpdCtrl">
    <ion-header-bar class="bar bar-header bar-dark">
        <h1 class="title">New one</h1>
        <div class="buttons">
            <button class="button button-icon ion-close" ng-click="closeAddEntity()"></button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form name="entityForm" id="entityForm" ng-submit="saveEntity()">
            <div class="list">
                <div class="row">
                    <div class="col-20  col-center center">
                        <div class="item-avatar">
                            <img ng-src="{{entity.pictureBook}}" style="margin-top:7px;">
                        </div>
                    </div>
                    <div class="col-80 col-center">
                        <button class="center button button-dark button-outline" ng-click="choosePhoto()">
                            Choose Photo
                        </button>
                    </div>
                </div>

                <label class="item item-input item-stacked-label">
                    <span class="input-label">Name <SUP>*</SUP></span>
                    <input type="text" name="name" placeholder="Insert your name" ng-model="entity.name" ng-pattern="/^[a-zA-Z\s]*$/" required>
                    <span class="msg-form" ng-show="entityForm.name.$invalid && entityForm.name.$dirty"> * Numbers not accepted</span>
                </label>

                <label class="item item-input item-stacked-label">
                    <span class="input-label">Surname <SUP>*</SUP></span>
                    <input type="text" name="surname" placeholder="Insert your surname" ng-model="entity.surname" ng-pattern="/^[a-zA-Z\s]*$/" required>
                    <span class="msg-form" ng-show="entityForm.surname.$invalid && entityForm.surname.$dirty"> * Numbers not accepted</span>
                </label>

                 <label class="item item-input item-stacked-label">
                    <span class="input-label">Age <SUP>*</SUP></span> 
                    <input type="number" name="age" placeholder="Insert your age" ng-model="entity.age" ng-pattern="/^\d+$/" required> 
                    <span class="msg-form" ng-show="entityForm.age.$invalid && entityForm.age.$dirty"> * Insert valid age</span>
                </label>

                <div class="row">
                    <div class="col item-input item-select">
                        <div class="input-label">Country
                            <SUP>*</SUP>
                        </div>
                        <select ng-options="opt.code as opt.name for opt in nationalities" ng-model="entity.nationality" required></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <span class="msg-form" ng-show="entityForm.nationality.$invalid && entityForm.nationality.$dirty"> * Select your country</span>
                    </div>
                </div>

                <div class="row">
                    <div class="col item-input item-select">
                        <div class="input-label">Gender
                            <SUP>*</SUP>
                        </div>
                        <select ng-options="opt.code as opt.name for opt in genders" ng-model="entity.gender" required></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <span class="msg-form" ng-show="entityForm.gender.$invalid && entityForm.gender.$dirty"> * Select your gender</span>
                    </div>
                </div>

                <label class="item item-input item-stacked-label">
                    <span class="input-label">Description</span>
                    <textarea name="description" placeholder="Insert your description" rows="8" cols="10" ng-model="entity.description"></textarea>
                </label>

                <label class="item">
                    <button class="button button-assertive button-full" ng-disabled="entityForm.$invalid">Salva</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-modal-view>