<ion-view >
  <ion-nav-bar class="bar-dark">
    <ion-nav-back-button></ion-nav-back-button>
    <ion-nav-buttons side="right">
      <button class="button button-clear icon ion-gear-a" ng-click="Entity.showActionsheet()" ng-if="Entity.userLoggedIn.name">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content scroll="true">
    <div class="header-detail" ng-style="{'background-image':'url(https://s-media-cache-ak0.pinimg.com/736x/46/99/e3/4699e3cc39e6f3b1cf36ce80cff27243--cafe-racer-yamaha-virago-scrambler-motorcycle.jpg)'}">
      <div class="row">
        <div class="col item-avatar">
          <img class="center" src="{{Entity.obj.pictureBook}}" style="border: 2px solid white;">
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
          <h2 style="color:#ef473a;">{{Entity.obj.name}} {{Entity.obj.surname}}</h2>
          <p style="color:#ef473a;">{{Entity.obj.gender}}</p>
          <p style="color:#ef473a;">{{Entity.obj.age}} years old, {{Entity.obj.nationality}}</p>
        </div>
      </div>
    </div>
    <div class="row tab-detail stable">
      <div class="col col-50 tab-item" ng-class="{'tab-color-detail': Entity.openTab1}" ng-click="Entity.enableTab1()">
        <i class="icon ion-document-text"></i>
      </div>
      <div class="col col-50 tab-item" ng-class="{'tab-color-detail': Entity.openTab2}" ng-click="Entity.enableTab2()">
        <i class="icon ion-images"></i>
      </div>
    </div>
    <div class="gap"></div>
    <div class="text-center padding" ng-if="Entity.openTab1">
      <h3>Who is?</h3>
      <p>
        {{Entity.obj.description}}
      </p>
    </div>

    <div class="row responsive-md" ng-if="Entity.openTab2">
        <h3 class="center"  ng-if="Entity.images.length==0">No photos <i class="icon ion-sad-outline"></i></h3>
        <div class="row" ng-repeat="image in Entity.images" ng-if="$index % 2 === 0">
            <div class="col col-50" ng-if="$index < Entity.images.length" ng-style="{'background-image':'url({{Entity.images[$index].pictureBook}})'}" style="background-repeat: no-repeat; background-size: contain; width: 150px; height: 150px;" ng-click="Entity.goToSlide($index)">
                <ion-checkbox ng-click="Entity.toDelete(Entity.images[$index].filename)" ng-show="Entity.shouldShowDelete" style="background: transparent; border: none;">&nbsp</ion-checkbox>
            </div>
            <div class="cols col-50" ng-if="$index+1 < Entity.images.length" ng-style="{'background-image':'url({{Entity.images[$index+1].pictureBook}})'}" style="background-repeat: no-repeat; background-size: contain; width: 150px; height: 150px;" ng-click="Entity.goToSlide($index)">
                <ion-checkbox ng-click="Entity.toDelete(Entity.images[$index+1].filename)" ng-show="Entity.shouldShowDelete" style="background: transparent; border: none;">&nbsp</ion-checkbox>
            </div>
        </div>
    </div>

  </ion-content>
</ion-view>