<ion-modal-view ng-controller="LoginCtrl">

  <ion-header-bar class="bar bar-header bar-dark">
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-icon ion-close" ng-click="closeLogin()"> </button>
    </div>
  </ion-header-bar>

  <ion-content>
    <form name="formLogin" id="formLogin" ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Email <SUP>*</SUP></span>
          <input type="email" name="email" placeholder="Insert your e-mail" ng-model="loginData.email" required>
          <span class="input-label msg-form" ng-show="formLogin.email.$invalid && formLogin.email.$dirty"> * Insert valid e-mail address</span>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Password <SUP>*</SUP></span>
          <input type="password" name="password" placeholder="Insert your password" ng-model="loginData.password" ng-minlength="5" required>
          <span class="input-label msg-form" ng-show="formLogin.password.$error.minlength"> * Min length 6 characters</span>
        </label>
        <label class="item">
          <button class="button button-block button-assertive" ng-disabled="formLogin.$invalid" type="submit">Log in</button>
        </label>
      </div>
    </form>
  </ion-content>

</ion-modal-view>