<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content class="bar-dark">
    <ion-nav-bar class="bar-dark">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-dark">
    </ion-header-bar>
    <ion-content>
      <ion-list>

        <ion-item menu-close class="item item-icon-right assertive" href="#/app/home">
          Home
          <i class="icon ion-home"></i>
        </ion-item>

        <ion-item menu-close ng-click="logging('logging')" class="item item-icon-right assertive" href="#">
          <div ng-if="!userLoggedIn.name"> Login <i class="icon ion-log-in"></i></div>
          <div ng-if="userLoggedIn.name"> Logout <i class="icon ion-person"></i></div>
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>